@use 'variables';

@mixin botones() {
  background-color: variables.$background-color;
  color: variables.$font-highlight-hover;
  border: solid 1px variables.$font-highlight-hover;
  border-radius: 0.5rem;
  margin-bottom: 1.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@mixin sombra() {
  box-shadow: 0 0.25rem 1rem rgba(241, 103, 5, 0.368);
}