/*Fuentes estándar*/

@font-face {
  font-family: "Playwrite DK Uloopet Guides";
  font-display: swap;
  src: url("../fonts/Playwrite_DK_Uloopet_Guides/PlaywriteDKUloopetGuides-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya";
  font-display: swap;
  src: url("../fonts/Alegreya/Alegreya-VariableFont_wght.woff2") format("woff2");
  font-weight: 400 600;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya";
  font-display: swap;
  src: url("../fonts/Alegreya/Alegreya-Italic-VariableFont_wght.woff2") format("woff2");
  font-weight: 400 600;
  font-style: italic;
}

$font-calligraphy: "Playwrite DK Uloopet Guides", cursive;
$font-serif: "Alegreya", "Georgia", serif;

$font-normal:400;
$font-bold:600;

$font-small:1.2rem;
$font-medium:1.6rem;
$font-big:2.5rem;



/*Colores*/
$background-color: #f5ece0;
$header-footer-href-color: #703815;
$font-color:#ffffff;
$font-body-text: #423b2f;
$font-highlight-hover: #e87b49;

