@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');


/*Fuentes estándar*/
$font-calligraphy: "Playwrite DK Uloopet Guides", cursive;
$font-serif: "Alegreya", "Georgia", serif;

$font-normal:400;
$font-bold:600;

$font-small:1.2rem;
$font-medium:1.6rem;
$font-big:2.5rem;



/*Colores*/
$background-color: #f5ece0;
$header-footer-href-color: #703815;
$font-color:#ffffff;
$font-highlight-hover: #423b2f;

